@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hi its Ezio and this web app is created by me Hi its Ezio and this web app is created by me
    Hi its Ezio and this web app is created by me Hi its Ezio and this web app is created by me
    Hi its Ezio and this web app is created by me Hi its Ezio and this web app is created by me
    Hi its Ezio and this web app is created by me Hi its Ezio and this web app is created by me
</p>