@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>In case of any problem please contact Bhattiezio@gmail.com</strong> <a href="https://www.gmail.com"> Gmail </a>
</address>