
@{
    ViewBag.Title = "RX480";
}
<body>
    <div id="container">

        <div class="main">

            <div class="jumbotron" style="padding-left:5px;">
                <h2>AMD Radeon RX 480</h2><hr />

                <p>
                    <b>
                        Hug your monitors and hide the kids’ games. With today’s launch of the Radeon RX 480 ($200 for 4GB version on Newegg, $240 for 8GB version on Amazon),
                        the next-generation graphics war is officially on, with both AMD and Nvidia now offering graphics cards built around underlying processor technology that
                        represents a massive two-generation leap over what we’ve used for four long years. Welcome to the future.
                        <img src="~/Images/GPU/a9b2de8e-cf54-47d4-a597-32e51b0009fd.jpg" img-responsive; width="290" align="right" vspace="5px" hspace="5px" />
                        While Nvidia went for shock and awe with the ferociously powerful $600 GeForce GTX 1080 and $380 GTX 1070, AMD’s employing guerilla tactics to win the hearts,
                        minds, and dollars of the masses, complete with an ad campaign rife with revolutionary undertones. The Radeon RX 480 is the first graphics card capable of cranking
                        out VR without breaking the bank. Equally as impressive, it’s the first $200 card capable of delivering uncompromising 1080p gaming and damn fine performance at 2560x1440 resolution.
                        This thing kicks the butt of the last generation’s Radeon 380 and GeForce 960.<br />

                        Let’s dig in.<br />


                        Most of the Radeon RX 480’s boost stems from its use of AMD’s new “Polaris” GPU cores, which the company’s been teasing for half a year now. The industry’s
                        been stuck using 28nm GPU cores since 2011, with all graphics cards released since then essentially iterating around the same underlying technology as both
                        AMD and Nvidia skipped the 20nm generation. Polaris embraces both 14nm transistors as well as advanced “FinFET” technology that make those shrunk-down transistors
                        even more power-efficient. (Nvidia’s new Pascal GPUs utilize 16nm FinFET transistors.)

                        Moving to 14nm lets AMD cram more technology into its GPUs, too. As you can see in the chart above, the Radeon RX 480 contains 2,304 stream processors, which are AMD’s
                        equivalent to Nvidia’s CUDA cores—though it’s impossible to compare the two radically different architectures in sheer core counts alone. AMD’s previous $200 graphics card,
                        the Radeon R9 380, packed 1,792 stream processors by comparison, and the more powerful Radeon R9 380X contained 2,048. The number of onboard compute units expanded from
                        28 CUs in the R9 380 to 36 CUs in the RX 480.
                        <img src="~/Images/GPU/bench_rx.jpg" img-responsive; width="500" align="right" vspace="5px" hspace="5px" />
                        AMD was also able to crank the RX 480’s clock speeds. The reference Radeon RX 480 boosts up to 1,266MHz out of the box, with a base clock of 1,120MHz. Its predecessors
                        topped out at 970MHz. A big jump in stream processor count paired with a big jump in clock speeds means a big jump in overall performance—which we’ll get to in a bit. (Such a tease!)<br />

                        A breakdown of the RX 480’s Polaris GPU, for you GPU nerds out there. The Polaris GPU also brings enhanced geometry engines, improved shader efficiency, updated memory and delta color
                        compression engines, and more.<br />

                        Team Red supersized the memory in its $200 offering, too. The older R9 380 and GeForce GTX 960 both started with 2GB of onboard RAM, though pricier 4GB versions were also available.
                        But the Radeon RX 480’s $200 version contains 4GB of memory, while an 8GB version—the model tested here—will sell for $240 when stores open Wednesday.
                        <img src="~/Images/GPU/bf4-vram.jpg" img-responsive; width="500" align="right" vspace="5px" hspace="5px" />
                        That’s traditional GDDR5 memory, by the way, not the exotic high-bandwidth memory found in the Radeon Fury series or the newer GDDR5X memory found in Nvidia’s GTX 1070 and 1080.
                        Sticking to GDDR5 no doubt helps AMD keep costs down—crucial in a $200 graphics card—and to be honest, it still holds up just fine for in-game performance. It’s important to note
                        that the two RX 480 variants are clocked at different memory speeds: The 4GB model tops out at 7Gbps, while the 8GB model hits 8Gbps. AMD says the memory specs in custom cards by
                        partners such as VisionTek, Asus, and Sapphire might vary, but will hit 7Gbps minimum. Look for custom boards to land mid-July.

                        Considering all the shader processors and RAM that AMD stuffed into this thing, it’s remarkable how small the card’s circuit board actually is, as we mentioned in our visual preview
                        of the RX 480. While this is a full-length card (just under 9.5 inches in order to accommodate the cooling system’s heat sink and single blower-style fan), the PCB itself is only an
                        inch or so longer than the diminutive Radeon Nano, and that card benefits from high-bandwidth memory’s extreme space savings. The RX 480’s memory chips must be laid out on the board
                        itself. Custom mini-ITX versions of this card could be exciting.

                        The Radeon RX 480 also swipes the Radeon Nano’s and the Radeon Fury X’s sense of style, mimicking their sleek black exterior and prominent Radeon branding, though the RX 480 feels a
                        bit more lightweight and plasticky in hand. But you’ll only hold it in your hand to install it anyway. The Radeon RX 480 looks flat-out stunning—though as with the Nano, there’s no
                        backplate on the reference version.You’ll get stunning visuals out of this thing, too. Polaris supports high dynamic range video via its singular HDMI 2.0b port and trio of DisplayPort 1.3/1.4 connections.<br />
                        <img src="~/Images/GPU/lastlight bench rx.png" img-responsive; width="500" align="right" vspace="5px" hspace="5px" />
                        Those fancy new DisplayPorts also support video refresh rates up to 120Hz at 4K resolution or 60Hz at 5K resolution. DVI connections on reference designs have been phased out as planned,
                        just like on the Fury cards. But fear not if you’re still rocking a DVI monitor: Custom boards often add DVI connections right back in. DVI really is going the way of the dodo, however,
                        so it’s time to think about upgrading your display to a model with superior HDMI/DisplayPort connections.

                        Improvements flow out of the RX 480, too: When it comes to compute-intensive video-decode/encode operations, the Polaris GPU is more powerful than any previous AMD processor.
                        The card sips down 150 watts of board power via a single 6-pin power connector on its edge. Nvidia’s GTX 1070 draws the same amount of power, but via an 8-pin connector for
                        more overclocking headroom. We’ll get more into comparisons when we look at the RX 480’s power use.

                        Overall, the Radeon RX 480 is an awfully attractive card that screams quality—not something you’d expect to find in the $200 price range. It’s a big change from AMD’s previous R200 series. But hardware is only half of the equation.

                    </b>
                </p>
                </div>
            </div>
        </div>
</body>