
@{
    ViewBag.Title = "Upcoming";
}
<body style="background-image: url('../../Images/the_witcher_3_wild_hunt_hearts_of_stone_105826_3840x2160.jpg');">
    <div class="welcomeBodyOuter">
        <span class="releaseBox" style="font-size:118%;">

            <div class="homePage-block-top" style="display: flex">
                <div style="flex: 0.95 0;"><h2>PC Release Dates</h2></div>

            </div>

            <div class="homepage-body">
                <table class="pc-release" style="">
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Just Cause 3 - Bavarium Sea Heist system requirements" title="Just Cause 3 - Bavarium Sea Heist system requirements" href="#">Just Cause 3 - Bavarium Sea Heist</a></td>
                        <td align="center" style="width:85px">Aug-11-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="No Mans Sky system requirements" title="No Mans Sky system requirements" href="#">No Mans Sky</a></td>
                        <td align="center" style="width:85px">Aug-12-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="F1 2016 system requirements" title="F1 2016 system requirements" href="#">F1 2016</a></td>
                        <td align="center" style="width:85px">Aug-19-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Deus Ex: Mankind Divided system requirements" title="Deus Ex: Mankind Divided system requirements" href="#">Deus Ex: Mankind Divided</a></td>
                        <td align="center" style="width:85px">Aug-23-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Master of Orion system requirements" title="Master of Orion system requirements" href="#">Master of Orion</a></td>
                        <td align="center" style="width:85px">Aug-25-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="God Eater 2 Rage Burst system requirements" title="God Eater 2 Rage Burst system requirements" href="#">God Eater 2 Rage Burst</a></td>
                        <td align="center" style="width:85px">Aug-30-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Grow Up system requirements" title="Grow Up system requirements" href="#">Grow Up</a></td>
                        <td align="center" style="width:85px">Aug-30-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="The Witcher III - Game of the Year Edition system requirements" title="The Witcher III - Game of the Year Edition system requirements" href="#">The Witcher III - Game of the Year Edition</a></td>
                        <td align="center" style="width:85px">Aug-30-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="World of Warcraft: Legion system requirements" title="World of Warcraft: Legion system requirements" href="#">World of Warcraft: Legion</a></td>
                        <td align="center" style="width:85px">Aug-30-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="One Piece: Burning Blood system requirements" title="One Piece: Burning Blood system requirements" href="#">One Piece: Burning Blood</a></td>
                        <td align="center" style="width:85px">Sep-01-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="The Elder Scrolls Online Gold Edition system requirements" title="The Elder Scrolls Online Gold Edition system requirements" href="#">The Elder Scrolls Online Gold Edition</a></td>
                        <td align="center" style="width:85px">Sep-09-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Dead Rising Remastered system requirements" title="Dead Rising Remastered system requirements" href="#">Dead Rising Remastered</a></td>
                        <td align="center" style="width:85px">Sep-13-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="ReCore system requirements" title="ReCore system requirements" href="#">ReCore</a></td>
                        <td align="center" style="width:85px">Sep-13-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Pro Evolution Soccer 2017 system requirements" title="Pro Evolution Soccer 2017 system requirements" href="#">Pro Evolution Soccer 2017</a></td>
                        <td align="center" style="width:85px">Sep-13-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Cossacks 3 system requirements" title="Cossacks 3 system requirements" href="#">Cossacks 3</a></td>
                        <td align="center" style="width:85px">Sep-20-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Forza Horizon 3 system requirements" title="Forza Horizon 3 system requirements" href="#">Forza Horizon 3</a></td>
                        <td align="center" style="width:85px">Sep-27-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="FIFA 17 system requirements" title="FIFA 17 system requirements" href="#">FIFA 17</a></td>
                        <td align="center" style="width:85px">Sep-27-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Final Fantasy XV system requirements" title="Final Fantasy XV system requirements" href="#">Final Fantasy XV</a></td>
                        <td align="center" style="width:85px">Sep-30-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Industry Manager Future Simulator system requirements" title="Industry Manager Future Simulator system requirements" href="#">Industry Manager Future Simulator</a></td>
                        <td align="center" style="width:85px">Oct-06-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Mafia III system requirements" title="Mafia III system requirements" href="games/index.php?g_id=5892&game=Mafia III">Mafia III</a></td>
                        <td align="center" style="width:85px">Oct-07-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="WRC 6: FIA World Rally Championship system requirements" title="WRC 6: FIA World Rally Championship system requirements" href="#">WRC 6: FIA World Rally Championship</a></td>
                        <td align="center" style="width:85px">Oct-08-2016				</td>
                    </tr>
                    <tr>
                        <td style="padding-top:2px; padding-bottom:2px;"><a class="discuss" style="font-weight:normal; font-size:110%; display:block" name="Gears of War 4 system requirements" title="Gears of War 4 system requirements" href="#">Gears of War 4</a></td>
                        <td align="center" style="width:85px">Oct-11-2016				</td>
                    </tr>
                    <tr style="height:10px; width:100%">
                        <td style="padding-top:0;padding-bottom:0"></td>
                        <td style="padding-top:0;padding-bottom:0"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="currentReleaseSearchLinkWrapper" title="Check the latest 2106 PC game system requirements">
                                <a href="/games" class="currentReleaseSearchLink">2016 Game System Requirements</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </span>
    </div>
</body>
